<div class="login-div">
  <div class="login-box">
    <form action="login/auth" method="POST">
      <h2>Login</h2>
      <h4><%=locals?.errorMessage%></h4>
      <label for="input-username">Username</label>
      <input type="text" class="login-input" name="username" id="input-username" placeholder="👤 Type in your username" value="<%= locals?.formInput?.username %>" />
      <label for="input-password">Password</label>
      <input type="password" class="login-input" name="password" id="input-password" placeholder="🔒 Type in your password" />
      <div class="login-submit">
        <button type="submit">Log in</button>
        <a href="register"><button type="button">Register</button></a>
      </div>
    </form>
  </div>
</div>
